
body {
  	background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 0;
    
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

/* Paragraph & Typographic */
p {
    line-height: 30px;
    margin-bottom: 25px;
}

.container {
    padding: 0;
}

.quato {
	line-height: 30px;
}

.centered {
    text-align: center;
}

.card-block {
	display: block;
	margin: auto;
    padding: 0;
	width: 1000px;
	height: 600px;
	overflow: auto;
}

img {
	width: 100%;
	text-align: right;
}
.team-card-avatar {
	width: 100px;
	float: right;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

li {
	text-align: justify;
}

.w {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.2);
	box-shadow: 5px 5px rgba(0,0,0,0.2);
}

.tab-content {
	background-color: #ffffff;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 15px;
}

.tab-content h5 {
	color: #bdc3c7;
	font-weight: 700;
	letter-spacing: 1px;
}

.sm {
	font-size: 14px;
}

a h6{
	color: #1abc9c;
}

a h6:hover {
	color: #7b7b7b;
}

grey {
	color: #bdc3c7;
	font-weight: 700;
}

.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}