@font-face{font-weight:400;font-style:normal;font-family:robotoregular;src:url(../fonts/Roboto-Regular-webfont.eot);src:url(../fonts/Roboto-Regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Regular-webfont.woff) format("woff"),url(../fonts/Roboto-Regular-webfont.ttf) format("truetype"),url(../fonts/Roboto-Regular-webfont.svg#robotoregular) format("svg");}
@font-face{font-weight:400;font-style:normal;font-family:robotobold;src:url(../fonts/Roboto-Bold-webfont.eot);src:url(../fonts/Roboto-Bold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Bold-webfont.woff) format("woff"),url(../fonts/Roboto-Bold-webfont.ttf) format("truetype"),url(../fonts/Roboto-Bold-webfont.svg#robotobold) format("svg");}
.copyrights{overflow:hidden;height:0;text-indent:-9999px;font-size:0;line-height:0;}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline;font-size:100%;}
.blue{color:#06C;}
.green{color:#090;}
.authorblue{color:#22a2c3;}
main{display:block;}
body{font:15px/23px robotoregular,Segoe UI,Arial,sans-serif;line-height:1;}
li,ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:after,blockquote:before{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;}
sub,sup{position:relative;vertical-align:baseline;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{margin:0;vertical-align:baseline;font-size:100%;}
button,input{line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
input[type=search]{-webkit-appearance:textfield;}
input[type=search]:-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
body{overflow-x:hidden;color:#777;font-size:14px;font-family:robotoregular;line-height:24px;}
a{color:#069;text-decoration:none!important;-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;-o-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out;-ms-transition:all 150ms ease-in-out;}
a:hover{color:#555;}
h1,h2,h3,h4,h5{color:#555;}
h1{font-weight:800;}
h2{font-weight:400;}
h3{font-weight:400;}
h4{font-weight:600;}
h5{font-weight:400;}
h6{font-weight:700;}
::-webkit-input-placeholder{color:#999;}
:-moz-placeholder{color:#999;}
::-moz-placeholder{color:#999;}
:-ms-input-placeholder{color:#999;}
.banner-bg,.main-content{float:right;width:85%;}
.banner-bg{padding:100px 80px;}
@media screen and (max-width:1290px){.banner-bg,.main-content{width:75%;}
.banner-bg{padding:60px 40px;}
}
@media screen and (max-width:992px){.banner-bg,.main-content{width:100%;}
.banner-bg{padding:30px 20px;}
}
@media screen and (max-width:576px){.banner-bg{padding:20px 10px;}
}
.content-wrapper{padding:0 80px;}
@media screen and (max-width:1290px){.content-wrapper{padding:0 30px;}
}
h4.widget-title{margin-bottom:30px;text-transform:uppercase;font-size:16px;font-family:robotobold;}
hr{position:relative;margin-top:40px;margin-bottom:0;width:100%;height:4px;outline:0;border:0;background:#ddd;}
.page-section{padding-top:30px;}
.icon-before{margin-right:10px;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.indent-text{text-indent:2em;}
.no-margin{margin:0;}
.sidebar-menu{position:fixed;float:left;overflow-y:hidden;width:15%;height:100%;background-color:#5f6d7e;color:#fff;}
@media screen and (max-width:1290px){.sidebar-menu{overflow-y:scroll;width:25%;}
}
.home-button{position:absolute;top:10px;left:0;z-index:9999;display:block;width:30px;height:30px;background-color:#F9F7F6;}
.home-button a{width:26px;height:26px;color:#63bbd0;}
.icon-home-button{position:absolute;left:4px;margin-top:4px;font-size:22px;}
.top-section{padding:40px 10px;}
.top-section a{color:#63bbd0;}
.top-section a:hover{color:#b0d5df;}
.profile-image{overflow:hidden;margin-bottom:20px;width:120px;height:180px;border:1px solid #fff;-webkit-border-radius:1px;border-radius:1px;}
.profile-image img{height:100%;}
h3.profile-title{margin-bottom:5px;color:#fff;font-size:18px;font-family:robotobold;}
.main-navigation{margin:0;}
.main-navigation li{display:block;}
.main-navigation li a{display:block;padding:10px 40px;color:#fff;font-size:15px;}
.main-navigation li a i{margin-right:15px;width:18px;}
.main-navigation li a:hover{background:#5b6878;}
.main-navigation li a.active{background:#495461;}
.main-navigation li a.active:hover{background:#495461;}
.en-navigation{text-align:left;}
.language-link a{color:#f7e8aa!important;}
.language-link a:hover{color:#f8df70!important;}
.social-icons2{display:block;padding:30px 40px;}
.social-icons2 li{display:inline-block;margin-right:10px;}
.social-icons2 a{color:#fff;font-size:18px;}
.social-icons2 a:hover{color:#282e35;}
.responsive-header{background:#5f6d7e;text-align:center;}
.responsive-header .social-icons2{display:block;padding:5px 0;}
@media screen and (max-width:992px){.responsive-header .main-navigation{display:none;margin-top:10px;}
}
@media screen and (max-width:992px){.responsive-header p{color:#fff;}
}
@media screen and (max-width:992px){.responsive-header .profile-image{float:left;overflow:hidden;margin-right:30px;width:100px;height:150px;-webkit-border-radius:1px;border-radius:1px;}
.responsive-header .profile-content{overflow:hidden;text-align:left;}
}
@media screen and (max-width:992px){.top-section{padding-bottom:0;}
}
@media screen and (max-width:992px){.main-navigation a{padding:10px;}
.main-navigation a.active{background:#5f6d7e!important;}
.main-navigation a:hover{background:#5f6d7e!important;}
}
.toggle-menu{display:block;margin-top:0;padding:0;width:100%;height:25px;background:#6cc0f7;color:#fff;font-size:18px;}
.toggle-menu:hover{color:#fff;}
.banner-bg{position:relative;z-index:2;background:url(../img/bg.jpg);background-position:center;background-size:cover;background-repeat:no-repeat;}
.banner-overlay{position:absolute;top:0;left:0;z-index:3;width:100%;height:100%;background:rgba(95,109,126,.3);}
#particles-js{position:absolute;top:0;left:0;z-index:4;width:100%;height:100%;}
.welcome-box{margin-bottom:18px;padding:0 10px;}
.welcome-text{position:relative;z-index:4;}
.welcome-text h2{margin-bottom:16px;color:#fff;font-size:35px;font-family:robotobold;}
.welcome-text h3{color:#fff;text-align:justify;font-weight:1;font-size:14px;font-family:robotoregular;line-height:20px;}
.welcome-text h4{color:#fff;text-align:justify;font-weight:1;font-size:18px;font-family:robotoregular;line-height:23px;}
.overlay-box{position:relative;z-index:4;margin-bottom:25px;width:100%;background:rgba(255,255,255,.8);box-shadow:0 2px 4px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;}
.overlay-box .title{padding:16px;}
.box-item{margin:0;padding:5px 16px;border-bottom:1px solid #c7d2d4;}
li.box-item:hover{background-color:rgba(205,209,211,.3);}
.box-item hr{margin-top:5px;height:1px;background:#1a94bc;}
.box-item li{position:relative;padding:2px 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:0 0;color:#274472;text-align:justify;font-weight:1;font-size:15px;line-height:16px;-webkit-transition:background .3s,color .2s,border .3s;-moz-transition:background .3s,color .2s,border .3s;transition:background .3s,color .2s,border .3s;}
.box-item.reviewer li{padding:4.5px 0;}
.box-item li:hover{background:#8CCEFB;color:#fff;border-top-color:#7cc5f8;border-bottom-color:#579dd9;}
.box-item li:before{display:inline-block;margin-right:.8em;margin-left:.2em;width:1em;color:#fff;color:#808ca4;content:'\f0da';text-align:center;text-decoration:inherit;text-transform:none;font-weight:400;font-style:normal;font-variant:normal;font-family:icomoon;line-height:1em;-webkit-transition:color .3s;-moz-transition:color .3s;transition:color .3s;speak:none;}
.box-item .attribute{float:right;}
.sticky-bottom{position:absolute;bottom:0;left:0;}
.award-info{padding:30px;text-align:left;}
.award-info h5{margin-bottom:15px;color:#fff;font-size:16px;}
.award-info p{color:#fff;font-size:13px;line-height:20px;}
.owl-carousel{margin-bottom:-24px;}
.owl-item{padding:0 15px;}
.media-item{position:relative;z-index:100;overflow:hidden;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#fafbfd;}
.media-item img{width:100%;}
.media-hover{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;background:#000;background:rgba(14,30,51,.4);color:#fff;text-align:center;opacity:0;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;}
.media-item:hover .media-hover{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;}
.media-item:hover .media-hover{display:block;}
.media-info-project{padding:0;background-color:#fff;text-align:left;}
.media-info-project h4{margin:20px 0 7px;}
.media-info-project .time{display:block;color:#95999e;white-space:nowrap;font-size:13px;}
/*div.elsevier-rss-portlet{position:relative;z-index:4;padding:16px;margin-bottom:25px;width:100%;background:rgba(255,255,255,.8);box-shadow:0 2px 4px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;}*/
.elsevier-rss-portlet h4{font-weight:400;display:none;}
.elsevier-rss-portlet ul{margin:10px 0!important;}
.elsevier-rss-portlet ul li{line-height:16.5px;}
.elsevier-rss-portlet ul li:before{content:none;}
.elsevier-rss-portlet ul li.resultsExternal{margin:0;}
span.scopus-label-docTitle{font-size:15px;line-height:16.5px;}
span.scopus-label-cited{font-size:12px;}
span.scopus-label-publicationYear{font-size:12px;}
span.scopus-label-srcTitle{font-size:12px;}
span.scopus-label-authors{font-size:12px;}
div.elsevier-rss-portlet p.footer{padding:0;line-height:12px;}
.accordions{margin:0;padding:0;list-style:none;}
.accordion{margin-bottom:7px;}
.accordion-header{position:relative;padding:15px 20px 15px 45px;border-top:1px solid #f3f7fa;border-bottom:1px solid #bfc8d7;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#e2eaf2;color:#274472;cursor:pointer;-webkit-transition:background .3s,color .2s,border .3s;-moz-transition:background .3s,color .2s,border .3s;transition:background .3s,color .2s,border .3s;}
.accordion-header.papers{padding:2px 0 2px 30px;border-top:0;border-bottom:0;background:0 0;text-align:justify;}
.accordion-active .accordion-header,.accordion-header:hover{background:#63b2f5;color:#fff;border-top-color:#7cc5f8;border-bottom-color:#579dd9;}
.accordion-active.papers .accordion-header.papers,.accordion-header.papers:hover{background:#8CCEFB;color:#fff;border-top-color:#7cc5f8;border-bottom-color:#579dd9;}
.accordion-header:hover .accordion-icon:before{color:#fff;}
.accordion-header h6{margin:0;}
.accordion-header.papers h6{font-weight:1;font-size:15px;}
.accordion-icon{position:absolute;top:11px;left:15px;font-size:16px;}
.accordion-icon.papers{position:absolute;top:-2px;left:0;font-size:15px;}
.accordion-icon:before{display:inline-block;margin-right:.2em;margin-left:.2em;width:1em;color:#808ca4;content:'\f0fe';text-align:center;text-decoration:inherit;text-transform:none;font-weight:400;font-style:normal;font-variant:normal;font-family:icomoon;line-height:1em;-webkit-transition:color .3s;-moz-transition:color .3s;transition:color .3s;speak:none;}
.accordion-icon.papers:before{content:'\f0da';}
.accordion-active .accordion-icon:before{color:#f2f4f9;content:'\f146';}
.accordion-active .accordion-icon.papers:before{content:'\f0d7';}
.accordion-content{position:relative;margin-top:7px;padding:15px 20px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#fff;color:#3e474c;}
.accordion-content.papers{padding:5px 10px;text-align:justify;}
.accordion-content.papers img{float:left;margin:0 5px 0 0;padding:5px 10px;width:200px;text-align:left;}
.projects-holder{margin-top:40px;margin-right:0;margin-left:0;}
.projects-holder .col-md-4{padding-right:1px;padding-left:1px;}
.project-item{position:relative;overflow:hidden;margin-bottom:2px;max-height:280px;}
.project-item:hover .project-hover{top:0;visibility:visible;opacity:1;}
.project-hover{position:absolute;top:40px;left:0;visibility:0;width:100%;height:100%;background:rgba(0,0,0,.9);opacity:0;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;-ms-transition:all .2s linear;}
.project-hover .inside{position:absolute;bottom:0;left:0;padding:30px;width:100%;}
.project-hover h5{margin-bottom:15px;font-size:16px;}
.project-hover h5 a{color:#fff;}
.project-hover p{color:#fff;font-size:13px;line-height:20px;}
.accordions-title{margin:0;padding:0;list-style:none;}
.accordion-title-header{position:relative;border-top:1px solid #f3f7fa;border-bottom:1px solid #bfc8d7;cursor:pointer;-webkit-transition:background .3s,color .2s,border .3s;-moz-transition:background .3s,color .2s,border .3s;transition:background .3s,color .2s,border .3s;}
.accordion-title-active .accordion-title-header,.accordion-title-header:hover{background-color:rgba(205,209,211,.3);}
.accordion-title-content{padding:5px 10px;border-bottom:1px solid #c7d2d4;background-color:rgba(248,244,237,.7);color:#3e474c;}
.contact-form{margin-top:40px;}
.contact-form input,.contact-form textarea{margin-bottom:30px;padding:12px;width:100%;outline:0;border:1px solid #aaa;color:#999;}
.contact-form input:focus,.contact-form textarea:focus{outline:0;}
.contact-form .button{width:auto;border:0;background:#5f6d7e;color:#fff;text-transform:uppercase;}
#footer{padding:40px 0;text-align:center;}
#footer p.copyright-text{font-size:13px;}
#footer p.copyright-text a{color:#5f6d7e;}
#footer p.copyright-text a:hover{color:#6cc0f7;}
